{
  "extends": "airbnb/base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0
  },
  "globals": {
    "ScrollMagic": true,
    "TweenLite": true,
    "Drupal": true,
    "drupalSettings": true,
    "drupalTranslations": true,
    "domready": true,
    "jQuery": true,
    "_": true,
    "matchMedia": true,
    "Backbone": true,
    "Modernizr": true,
    "CKEDITOR": true
  }
}
