{#
variables:
- someRegionFromDrupal: renderable

example:
    {% include '@components/myFooter/myFooter.html.twig' with {
      content: {
        someRegionFromDrupal: '<p>Some markup from the depths of drupal.</p>'
      }
    }%}
#}
<footer class="my-footer">
  <h2>The footer</h2>
  <div class="my-footer__contain">
    {{ content.someRegionFromDrupal }}
  </div>
</footer>
